.clangd/
compile_commands.json
subprojects/packagecache/
subprojects/zlib-*
subprojects/libpng-*
build/
buildwin/
docs/traces/
.vs/
.cache
.vimspector.json
subprojects/.wraplock
subprojects/pml.wrap
.launch
